/* Importação de fonte */
@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Lato:wght@700&display=swap");

*{
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  width: 600px;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  background-color: #ebc3e1;
}

.cabecalho {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
}

.principal {
  display: grid;
  grid-template-columns: 1fr;
}

.cabecalho__subtitulo {
  display: inline;
  justify-self: center;
}

.btn {
  text-indent: 4px;
  font-size: 1.125rem;
  background: #c06382;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 8px 32px;
  cursor: pointer;
}

.btn-drop {
  align-items: center;
}

.filtros {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-item label {
  display: block;
  margin-bottom: 8px;
  font-weight: 400;
}

.form-item input {
  height: 2rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  text-indent: 4px;
  position: relative;
}

.form-item input[type="date"]{
  color: #757575;
}

.dropdown-conteudo {
  display: none;
  position: absolute;
  width: 600px;
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  margin-top: 4px;
}

.show {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 1px solid white;
  text-align: start;
  text-indent: 4px;
  font-size: 1.125rem;
  background: #c06382;
  color: white;
  padding: 8px;
}

td {
  border: 1px solid white;
  font-size: 1.1rem;
  padding: 8px;
}

th:nth-child(1) {
  text-align: center;
}

td:nth-child(1) {
  text-align: center;
}

tr {
  background-color: #e6cee0;
}

tr:nth-child(even){
  background-color: #e6cee0;
}

.section__principal {
  width: 100%;
  border: 1px solid black;
  padding: 20px 10px 10px 10px;
  margin: 5px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.form-item:nth-child(3){
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/-1;
  column-gap: 10px;
}

.form-item:nth-child(3) input {
  grid-column: 1;
}

.form-item:nth-child(3)::after {
  content: "";
  display: block;
  width: 80%;
  height: 2px;
  background-color: #c06382;
  position: relative;
  grid-column: 1/-1;
  margin: 0 auto;
  top: -5px;
}

.form-item:nth-child(4) {
  grid-column: 1;
}

.form button {
  grid-column: 1/-1;
}